[submodule "EppoEngine/Vendor/glfw"]
	path = EppoEngine/Vendor/glfw
	url = https://github.com/nepp95/glfw.git
[submodule "EppoEngine/Vendor/glm"]
	path = EppoEngine/Vendor/glm
	url = https://github.com/nepp95/glm.git
[submodule "EppoEngine/Vendor/spdlog"]
	path = EppoEngine/Vendor/spdlog
	url = https://github.com/nepp95/spdlog.git
[submodule "EppoEngine/Vendor/tracy"]
	path = EppoEngine/Vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "EppoEngine/Vendor/imgui"]
	path = EppoEngine/Vendor/imgui
	url = https://github.com/nepp95/imgui.git
[submodule "EppoEngine/Vendor/entt"]
	path = EppoEngine/Vendor/entt
	url = https://github.com/nepp95/entt.git
[submodule "EppoEngine/Vendor/yaml-cpp"]
	path = EppoEngine/Vendor/yaml-cpp
	url = https://github.com/nepp95/yaml-cpp.git
[submodule "EppoEngine/Vendor/googletest"]
	path = EppoEngine/Vendor/googletest
	url = https://github.com/nepp95/googletest.git
[submodule "EppoEngine/Vendor/tinygltf"]
	path = EppoEngine/Vendor/tinygltf
	url = https://github.com/syoyo/tinygltf.git
