<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="15.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" Condition="Exists('$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props')" />
	<PropertyGroup>
		<Configuration Condition=" '$(Configuration)' == '' ">Debug</Configuration>
		<Platform Condition=" '$(Platform)' == '' ">x64</Platform>
		<ProjectGuid>{45DC8C7C-3113-8E0D-DAFF-7310C6150A0F}</ProjectGuid>
		<OutputType>Library</OutputType>
		<AppDesignerFolder>Properties</AppDesignerFolder>
		<RootNamespace>$PROJECT_NAME$</RootNamespace>
		<AssemblyName>$PROJECT_NAME$</AssemblyName>
		<TargetFrameworkVersion>v4.8</TargetFrameworkVersion>
		<FileAlignment>512</FileAlignment>
		<AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>
	</PropertyGroup>
	<PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|x64' ">
		<PlatformTarget>x64</PlatformTarget>
		<DebugType>portable</DebugType>
		<DebugSymbols>true</DebugSymbols>
		<Optimize>false</Optimize>
		<OutputPath>Binaries\</OutputPath>
		<BaseIntermediateOutputPath>Intermediates\Debug\</BaseIntermediateOutputPath>
		<IntermediateOutputPath>$(BaseIntermediateOutputPath)</IntermediateOutputPath>
		<DefineConstants></DefineConstants>
		<ErrorReport>prompt</ErrorReport>
		<WarningLevel>4</WarningLevel>
	</PropertyGroup>
	<PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|x64' ">
		<PlatformTarget>x64</PlatformTarget>
		<DebugType>none</DebugType>
		<DebugSymbols>false</DebugSymbols>
		<Optimize>true</Optimize>
		<OutputPath>Binaries\</OutputPath>
		<BaseIntermediateOutputPath>Intermediates\Release\</BaseIntermediateOutputPath>
		<IntermediateOutputPath>$(BaseIntermediateOutputPath)</IntermediateOutputPath>
		<DefineConstants></DefineConstants>
		<ErrorReport>prompt</ErrorReport>
		<WarningLevel>4</WarningLevel>
	</PropertyGroup>
	<ItemGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|x64' ">
	</ItemGroup>
	<ItemGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|x64' ">
	</ItemGroup>
	<ItemGroup>
		<Compile Include="Source\*.cs" />
	</ItemGroup>
	<ItemGroup>
		<Reference Include="EppoScripting">
			<HintPath>..\..\..\..\Resources\Scripts\EppoScripting.dll</HintPath>
		</Reference>
	</ItemGroup>
	<Import Project="$(MSBuildToolsPath)\Microsoft.CSharp.targets" />
</Project>